/* ---------------------
---- Default button  ---
----------------------- */
@mixin button-size-y($height) {
    height: $height;
    line-height: $height;
}

button,
.button {
    @include button-size-y(32px);

    background-color: var(--ui-color-accent);
    color: var(--text-color-on-heavy-bg);

    font-size: 16px;
    font-family: 'Gilroy';
    padding: 0 8px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: background-color .09s ease-in;

    &:hover {
        box-shadow: 0px 5px 20px 0 rgb(0 0 255 / 35%);
    }

    // Внешний вид
    &--secondary {
        background-color: var(--ui-color-secondary);
        color: var(--text-color-accent);

        &:hover {
            box-shadow: none;
            background-color: #C6C6FF;
        }

    }

    // Размер
    &--height-md {
        @include button-size-y(40px);
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 12px;
    }

    &--height-lg {
        @include button-size-y(48px);
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 12px;
    }

    &--full-width {
        width: 100%;
    }

    &:disabled,
    &--disabled {
        pointer-events: none;
        background-color: #D9D9D9;
        color: #FFF;
    }
}
